/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    background-color: #F7F9FB
}

#container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "navbar the-content" "social-footer social-footer";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 8fr 1fr;
}

#navbar {
    grid-area: navbar;
    padding: 20px;
}

.logo {
    display: inline-block;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
    border-bottom: 4px solid #E24B6E;
    line-height: 1;
    margin-bottom: 20px;
    cursor: default;
}

#navbar ul {
    display: inline-block;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    color: #A7A9AC;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#navbar ul li:hover {
    color: #E24B6E;
}

#content {
    padding: 85px 5em 2em 5em;
    grid-area: the-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.item {
    background-color: #E24B6E;
    width: 30%;
    height: 38%;
    margin: 10px;
}

#social-footer {
    grid-area: social-footer;
}

